/* 
.left-content ->
.side-image -> .logo -> svg, .company-name| img,
.credits -> a
*/

/* Checks for unwanted white parts in page - DEBUGGING */
/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */

* {
    --caput-mortuum: #571C18ff;
    --chestnut: #AB4539ff;
    --cerulean: #46788Dff;
    --gunmetal: #0E2A36ff;
    --rich-black: #081B22ff;
}

html,
body {
    width: 100%;
    height: 100%;
    color: #000;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: auto;
}

.left-content {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    z-index: -1;
}

.side-image>img {
    position: fixed;
    max-width: 100vh;
    max-height: auto;
}

.side-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.logo {
    display: flex;
    position: absolute;
    width: 100%;
    height: fit-content;
    margin-top: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #00000031;
    /* background-image: linear-gradient(to right, rgba(255, 145, 253, 0.402), rgba(30, 4, 117, 0.4), rgba(251, 0, 213, 0.349)); */
    z-index: 2;
    justify-content: center;
}
.logo>img {
    width: 80px;
    height: auto;
}

.logo .company-name {
    font-family: 'Russo One', sans-serif;
    font-size: 80px;
    padding-left: 10px;
    width: max-content;
    text-shadow: 10px 10px;
    background-color: #ffffff;

    /* FONT GRADIENT */
    /* background: linear-gradient(to bottom, rgb(218, 221, 252), white); */
    background-clip: content-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.shadow {
    -webkit-filter: drop-shadow(10px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .7));
    /* Similar syntax to box-shadow */
}